<html xmlns="http://www.w3.org/1999/xhtml">
    <div th:fragment="publicRoom">
        <div class="">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center" id="chatRoomTitle">
                        <span th:text="#{demo.chat.publicRoom}">Public chat room for</span> <span th:text="${username}"></span> <span id="usersNoti"></span>
                            
                    </span>
                    <div class='row'>
                        <div class='row col s12' id="chatBoxContent" style='min-height: 250px; max-height: 250px; margin: 20px 0; 
                             border-top:1px solid #ececec; border-bottom:1px solid #ececec; overflow-y: scroll;
                             padding-top: 20px'>

                        </div>
                        <div class='col s10'>
                            <textarea id="message" class="materialize-textarea" style="max-height: 100px; overflow-y: scroll" 
                                      th:attr="placeholder=#{demo.chat.chatPlaceholder}"></textarea>
                        </div>
                        <div class='col s2'>
                            <button class="waves-effect waves-light btn" onclick="send()">
                                <span th:text="#{demo.chat.send}">Send</span>
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center" id="p2pChatRoomTitle"><span th:text="#{demo.chat.privateRoom}">Send private message to</span> <span id='receiverName'></span></span>
                    <div class='row'>
                        <div class='row col s12' id="p2pChatBoxContent" style='min-height: 250px; max-height: 250px; margin: 20px 0; 
                             border-top:1px solid #ececec; border-bottom:1px solid #ececec; overflow-y: scroll;
                             padding-top: 20px'>
                            
                        </div>
<!--                        <div class='col s3'>
                            <input id="p2pReceiver" placeholder="Username"/>
                        </div>-->
                        <div class='col s10'>
                            <textarea id="p2pMessage" class="materialize-textarea" style="max-height: 100px; overflow-y: scroll" 
                                      th:attr="placeholder=#{demo.chat.chatPlaceholder}"></textarea>
                        </div>
                        <div class='col s2'>
                            <button class="waves-effect waves-light btn" onclick="p2pSend()">
                                <span th:text="#{demo.chat.send}">Send</span>
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $('#message').keypress((event) => {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    event.preventDefault();
                    send();
                }
            });
            $('#p2pMessage').keypress((event) => {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    event.preventDefault();
                    p2pSend();
                }
            });
        </script>
    </div>
</html>