.friend {
    border-top: 1px solid #ececec;
    padding: 5px 0 0 5px;
}

.friend:hover {
    font-weight: bold;
    cursor: pointer;
    color: cornflowerblue;
}

.newMess::after{
    content: "!";
    color: red;
    font-weight: bold;
}

.txt-bubble-right {
    position: relative;
    background: lightskyblue;
    border-radius: .4em;
    padding: 10px !important;
    min-height: 50px !important;
}

.txt-bubble-right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-left-color: lightskyblue;
    border-right: 0;
    margin-top: -9px;
    margin-right: -9px;
}

.txt-bubble-left {
    position: relative;
    background: #80ff80;
    border-radius: .4em;
    padding: 10px !important;
    min-height: 50px !important;
}

.txt-bubble-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-right-color: #80ff80;
    border-left: 0;
    margin-top: -9px;
    margin-left: -9px;
}