#bananaDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%; 
    width: 100%; 
    z-index: 2;
    /*pointer-events:none;*/
}

.dropAndFade {
    animation-name: dropAndFade;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes dropAndFade {
    /*to {top: calc(100vh - 50px);}*/
    10% {top: calc(100vh - 50px);}
    90% {top: calc(100vh - 50px); opacity: 1;}
    100% {top: calc(100vh - 50px); opacity: 0;}
}

.friend {
    border-top: 1px solid #ececec;
    padding: 5px 0 0 5px;
}

.friend:hover {
    font-weight: bold;
    cursor: pointer;
    color: cornflowerblue;
}

.icon{
    position:relative;
    top: 5px;
}

.noti{
    border: 1px red solid;
    background: red;
    border-radius: 50%;
    height: 15px;
    min-width: 15px;
    display: inline-block;
    position: relative;
    left: -5px;
}

.noti-content{
    font-size:10px;
    position: relative;
    top: -16px;
    color: white;
    font-weight: bold;
}

.newMess::after{
    content: "!";
    color: red;
    font-weight: bold;
}

.txt-bubble-right {
    position: relative;
    background: lightskyblue;
    border-radius: .4em;
    padding: 10px !important;
    min-height: 50px !important;
}

.txt-bubble-right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-left-color: lightskyblue;
    border-right: 0;
    margin-top: -9px;
    margin-right: -9px;
}

.txt-bubble-left {
    position: relative;
    background: #80ff80;
    border-radius: .4em;
    padding: 10px !important;
    min-height: 50px !important;
}

.txt-bubble-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-right-color: #80ff80;
    border-left: 0;
    margin-top: -9px;
    margin-left: -9px;
}