<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<script src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
</head>
<body>
	<h1>Danh sách người dùng</h1>

	<ul th:each="user, iStat: ${users}" >
		<li><span th:text="*{user.username}">abc1</span>
			<button onclick="request()">Them ban</button></li>
		
	</ul>
	<script type="text/javascript">
	$.ajax({
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json'
		},
		'type': 'POST',
		'url': "abc.casmfasf",
		success: (res) => {
			
		}
	})
	</script>
</body>
</html>